{% extends "base.twig" %}

{% block content %}

	<div class="about-hero">
		<div style="background-image: url('{{TimberImage(post.get_field('hero_background_image')).src|resize(2880)}}');">
			<div class="content">
				<div>
					<p class="mission">{{post.mission_statement}}</p>
				</div>
			</div>
			<div class="project-overlay"></div>
			<p class="photo-credit">{{post.photo_credit}}</p>
		</div>
	</div>

	{% if post.content %}
		<div class="content about-content">
			{{post.content}}
		</div>
    {% endif %}

	{% if post.get_field('collapsable_sections') %}
		<div class="content collapsable-sections">
		    {% for item in post.get_field('collapsable_sections') %}
				<section>
				    <p class="section-title">{{item.section_title}}</p>
					<i class="fa fa-plus" aria-hidden="true"></i>
					<div class="section-content">
						{{item.section_content}}
					</div>
				</section>
		    {% endfor %}
		</div>
    {% endif %}

{% endblock %}
