{% extends "base.twig" %}

{% block content %}

<div class="eventsingle">

	<div class="event-single content">
		<section class="event-header side-section">
			<div class="side-section-left">

				{% if function('current_time', 'Y-m-d') > post._EventStartDate|date('Y-m-d') %}
					<p class="past">PAST EVENT</p>
				{% endif %}

				{% if post.terms('projects') %}
					<h5 class="event-project">{{ post.terms('projects')[0].name }}</h5>
				{% endif %}

				<h1>{{ post.title }}</h1>
				
				{% if post._EventCost %}
					<p class="event-cost">{{ post._EventCost }}</p>
				{% endif %}

				{% if post.event_nationbuilder_url and function('current_time', 'Y-m-d') <= post._EventStartDate|date('Y-m-d') %}
					<a target="_blank" href="{{ post.event_nationbuilder_url }}" class="button">{{ post.event_button_text|default('Get Tickets')}}</a>
				{% endif %}

			</div>
			<div class="side-section-right event-images">
				
				{% if post.get_field('event_images') %}
					{% for item in post.get_field('event_images') %}
						<img src="{{TimberImage(item)|resize(1434, 956) }}" />
					{% endfor %}
				{% else %}
					{% if post.thumbnail %}
						<img src="{{TimberImage(post.thumbnail)|resize(1434, 956) }}" />
					{% endif %}
				{% endif %}

			</div>
			<div class="side-section-left mobile">

				{% if post.terms('projects') %}
					<h5 class="event-project">{{ post.terms('projects')[0].name }}</h5>
				{% endif %}

				<h1>{{ post.title }}</h1>

				{% if post._EventCost %}
					<p class="event-cost">{{ post._EventCost }}</p>
				{% endif %}

				{% if post.event_nationbuilder_url %}
					<a href="{{ post.event_nationbuilder_url }}" class="button">Get Tickets</a>
				{% endif %}

			</div>
		</section>
		<section class="event-info side-section">
			<div class="side-section-left">
				<h4>Details</h4>
			</div>
			<div class="side-section-right">
				<div class="event-info-date">
					{% if post._EventStartDate %}
						{% if (post._EventStartDate|date('Y') == post._EventEndDate|date('Y')) and 
							  (post._EventStartDate|date('F') == post._EventEndDate|date('F')) and 
							  (post._EventStartDate|date('j') == post._EventEndDate|date('j')) %}
							<p>{{ post._EventStartDate|date('l') }}</p>
						{% endif %}
					{% endif %}
					<p>{{ function('spellerberg_sp_date', post) }}</p>
				</div>
				<div class="event-info-location">
					{% if function('get_term', post.event_venue) %}
						<p>{{ function('get_term', post.event_venue).name }}</p>
					{% endif %}
					{% if function('get_field', '_VenueAddress', 'venue_' ~ post.event_venue) %}
						<p>{{ function('get_field', '_VenueAddress', 'venue_' ~ post.event_venue) }}</p>
					{% endif %}
					{% if function('get_field', '_VenueCity', 'venue_' ~ post.event_venue) %}
						<p>{{ function('get_field', '_VenueCity', 'venue_' ~ post.event_venue) ~ ', ' ~ function('get_field', '_VenueState', 'venue_' ~ post.event_venue) ~ ' ' ~ function('get_field', '_VenueZip', 'venue_' ~ post.event_venue)  }}</p>
					{% endif %}
				</div>
				<div class="event-additional-info">
					{% if post.event_additional_info_line_1 %}
						<p>{{ post.event_additional_info_line_1 }}</p>
					{% endif %}
					{% if post.event_additional_info_line_2 %}
						<p>{{ post.event_additional_info_line_2 }}</p>
					{% endif %}
					{% if post.event_additional_info_line_3 %}
						<p>{{ post.event_additional_info_line_3 }}</p>
					{% endif %}
				</div>
				<div class="event-info-social">
					{% if post.event_first_hashtag %}
						<p>{{ post.event_first_hashtag }}</p>
					{% endif %}
					{% if post.event_second_hashtag %}
						<p>{{ post.event_second_hashtag }}</p>
					{% endif %}
					{% if post.event_facebook_url %}
						<a target="_blank" href="{{ post.event_facebook_url }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					{% endif %}
					{% if post.event_twitter_url %}
						<a target="_blank" href="{{ post.event_twitter_url }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					{% endif %}
				</div>
			</div>
		</section>
		<section class="event-content side-section">
			<div class="side-section-left">
				<h4>Description</h4>
			</div>
			<div class="side-section-right">
				{{ post.content }}
			</div>
		</section>
		{% if post.footer_cta %}
			<div class="event-footer-cta">{{ post.footer_cta }}</div>
		{% endif %}
	</div>

</div>

{% endblock %}
