			<footer class="contactfooter">
				<div class="padding">
					<div class="margin">

						<div class="logo_container">
							<a href="{{ site.url }}" class="logo_footer"></a>
						</div>

						<p class="contacts">
							{% if options.clockshop_phone %}
								<span>{{ options.clockshop_phone }}</span>
							{% endif %}
							{% if options.clockshop_email %}
								<span class="dot">&#9679;</span>
								<span>{{ options.clockshop_email }}</span>
							{% endif %}
							{% if options.clockshop_address %}
								<span class="dot">&#9679;</span>
								<span>{{ options.clockshop_address }}</span>
							{% endif %}
						</p>

						<p class="copyright">
							<span>©{{function('date', 'Y')}} Clockshop. <span style="white-space: nowrap; display: inline-block;">All Rights Reserved.</span></span>
						</p>

						<p class="edit-this">
							{{function('edit_post_link')}}
						</p>

					</div>
				</div>
			</footer>

			<div class="responsivecue"></div>

		</div>

	</body>
</html>
