{% extends "base.twig" %}

{% block content %}

	<div class="carouselwrap">
		<div class="carousel-main">

		    {% for item in post.get_field('hero_slider') %}

			<div class="carousel-cell">
				<div class="slide" style="background-image: url('{{TimberImage(item.carousel_image).src|resize(2880)}}');">
					<div class="content">
						<div>
							<div class="arrows">
								<a class="prev"><img class="left-arrow" src="{{theme.link}}/images/arrow.png" /></a>
								<a class="next"><img class="right-arrow" src="{{theme.link}}/images/arrow.png" /></a>
							</div>
							<p class="project-title">{{item.headline}}</p>
							{% if item.feature_type == 'external' %}
								<a class="project-more" target="_blank" href="{{item.external_link}}">LEARN MORE</a>
							{% elseif item.feature_type == 'internal' %}
								<a class="project-more" href="{{item.internal_link.link}}">LEARN MORE</a>
							{% endif %}
						</div>
					</div>
					<div class="project-overlay"></div>
					<div class="ratio"></div>
				</div>
			</div>

		    {% endfor %}

		</div>
	</div>

	<div class="content">
		<div class="grid featured-grid">
			<h3>Featured Call Outs</h3>
		    {% for item in post.get_field('features') %}

				<div class="grid-3">
					<div class="imagecell">
					{% if item.feature_type == 'external' %}
						<a target="_blank" href="{{item.external_link}}"><img src="{{TimberImage(item.thumbnail_image).src('grid-3')}}" /></a>
					{% elseif item.feature_type == 'internal' %}
						<a href="{{item.internal_link.link}}"><img src="{{TimberImage(item.thumbnail_image).src('grid-3')}}" /></a>
					{% endif %}
					</div>
					<div class="descriptioncell">
						<h3>
						{% if item.feature_type == 'external' %}
							<a target="_blank" href="{{item.external_link}}">{{item.headline}}</a>
						{% elseif item.feature_type == 'internal' %}
							<a href="{{item.internal_link.link}}">{{item.headline}}</a>
						{% endif %}
						</h3>
						<p class="content-type">{{item.content_type}}</p>
						<p class="description">{{item.description}}</p>
						<p class="calltoaction">
						{% if item.feature_type == 'external' %}
							<a target="_blank" href="{{item.external_link}}">{{item.call_to_action}}</a>
						{% elseif item.feature_type == 'internal' %}
							<a href="{{item.internal_link.link}}">{{item.call_to_action}}</a>
						{% endif %}
						</p>
					</div>
				</div>

		    {% endfor %}

			<div class="grid-bottom"></div>

		</div>
	</div>


	<footer class="followfooter">
		<div class="content">

			<p>Subscribe to our mailing list</p>

			<div class="newsform">
				{{signup_form}}
			</div>

		</div>
	</footer>

{% endblock %}
