{% extends "base.twig" %}

{% block content %}

	<div class="carouselwrap">
		<div class="carousel-main">

		    {% for item in post.get_field('hero_slider') %}

			<div class="carousel-cell">
				<div class="slide" style="background-image: url('{{TimberImage(item.carousel_image).src|resize(2880)}}');">
					<div class="content">
						<div>
							<div class="arrows">
								<a class="prev"><img class="left-arrow" src="{{theme.link}}/assets/images/arrow.png" /></a>
								<a class="next"><img class="right-arrow" src="{{theme.link}}/assets/images/arrow.png" /></a>
							</div>
							<p class="project-title">{{item.slide_text}}</p>
							<a class="project-more" href="{{item.slide_link.url}}">LEARN MORE</a>
						</div>
					</div>
					<div class="project-overlay"></div>
					<div class="ratio"></div>
				</div>
			</div>

		    {% endfor %}

		</div>
	</div>

	{% if post.get_field('features') %}

		<div class="content">
			<div class="grid featured-grid">
				<h4>Featured Call Outs</h4>
			    {% for item in post.get_field('features') %}

					<div class="grid-3">
						<div class="imagecell">
							<a href="{{ item.feature_link.url }}"><img src="{{ TimberImage(item.thumbnail_image)|resize(1434, 956) }}" /></a>
						</div>
						<div class="descriptioncell">
							<h2><a href="{{item.feature_link.url}}">{{item.feature_title}}</a></h2>
							<p class="content-type">{{item.content_type}}</p>
							<p class="description">{{item.description}}</p>
							<p class="calltoaction">
								<a href="{{item.feature_link.url}}">{{item.call_to_action}}</a>
							</p>
						</div>
					</div>

			    {% endfor %}

				<div class="grid-bottom"></div>

			</div>
		</div>

	{% endif %}

	<footer class="followfooter">
		<div class="content">

			<h2>Subscribe to our mailing list</h2>

			<div class="newsform">
				{{signup_form}}
			</div>

		</div>
	</footer>

{% endblock %}
