{% extends "base.twig" %}

{% block content %}	

	{{dump(term)}}

	<div class="project-single">

		<div class="project-menu">
			<div class="content">
				<h1>{{parent.title}}</h1>
				<ul>
					{% for item in parent.get_field('project_menu') %}
						{% if item.menu_item_page.link == post.link %}
							<li class="active">
						{% elseif item.menu_item_page.link == direct_parent.link %}
							<li class="active">
						{% else %}
							<li>
						{% endif %}
							<a href="{{item.menu_item_page.link}}">
								{{item.menu_item_title}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<main class="content">
			{% if post.get_field('project_content_type') == 'text' %}

				{{post.get_field('project_text_content')}}

			{% elseif post.get_field('project_content_type') == 'artist_list' %}

				<div class="grid featured-grid">
				    {% for item in post.get_field('project_grid_content') %}
						<div class="grid-3">
							<div class="imagecell">
								<a href="{{item.artwork_or_artist.link}}"><img src="{{TimberImage(item.image).src('grid-3')}}" /></a>
							</div>
							<h3 class="project-title">
								<a href="{{item.artwork_or_artist.link}}">{{item.title}}</a>
							</h3>
							<h3 class="project-subtitle">
								<a href="{{item.artwork_or_artist.link}}">{{item.subtitle}}</a>
							</h3>
						</div>
				    {% endfor %}
				</div>

			{% elseif post.get_field('project_content_type') == 'artist_single' %}

			    {% if post.get_field('project_image_slider') %}
				    <div class="project-slider">
					    {% for item in post.get_field('project_image_slider') %}
							<div class="project-slide">
								<img src="{{TimberImage(item.slide_image).src|resize(1900)}}" />
								<div class="caption caption-left">
									{{item.slide_caption_left}}
								</div>
								<div class="caption caption-right">
									{{item.slide_caption_right}}
								</div>
							</div>
					    {% endfor %}
				    </div>
			    {% endif %}
				
				<div class="project-content">
					{{post.get_field('project_text_content')}}				
				</div>

			{% endif %}

			{% if projectMenu.get_items|length > 1 %}

				{% for item in projectMenu.get_items %}
					{% if loop.index == next %}
						<div class="project-next">
							<a href="{{item.link}}">
								Next: {{item.title}}
							</a>
						</div>
					{% endif %}
					{% if item.current %}
						{% set next =  loop.index + 1 %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</main>
		
	</div>

{% endblock %}
